body{
    /* background-color: var(--pokeball-white); */
    background-image: url(../assets/img/floresta_pokemon.jpg);
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}
body::after{
    content: "";
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    z-index: -1;
}

/* Cabeçalho da pagina */
.main-menu{
    background-color: var(--pokeball-red);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.479);
}
.logo>img{
    width: 150px;   
}
.search-box{
    background-color: var(--pokeball-white);
    border: solid 1.5px var(--pokemon-blue);
}
.btn-buscar{
    width: 30px;
    height: 30px;
    background-image: url(../assets/img/lupa-personalizada.png);
    background-size: contain;
}
.pk-name-input{
    background: none;
}
.search-box input{
    border: none;
    font-size: small;
    outline: none;
}

/* Caixa principal - listagem de pokemons */

.poke-container{
    flex-wrap: wrap;
    width: 90%;
    gap: 20px;
    margin-bottom: 200px !important;
}

/* Estrutura dos cards de pokemon da pagina principal */

.pokecard{
    background-color: red;
    width: 200px;
    height: 270px;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 20% repeat(2,30%) 20%;
    justify-items: center;
    align-items: center;
    background-image: radial-gradient(red 60%,#b00000,#710000,#420000);
    position: relative;
    padding: 15px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
}
.pokecard>.name-background{
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(#d4d4d4 40%,#898989);
    width: 100%;
    height: 60px;
    border-radius: 0 0 40% 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.342);
}
.pokecard>.pokeball-logo{
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
}
.pokecard>.pokeball-logo>img{
    width: 30px; 
}
.pokecard>.pokemon-name{
    grid-row: 1;
    grid-column: 2/5;
    font-size: medium;
    justify-self: flex-start;
    z-index: 2;
}
.pokecard>.lab-bg{
    grid-row: 2;
    grid-column: 1/5;
    background-image: url(../assets/img/laboratorio.png);
    background-size: cover;
    background-position: bottom center;
    width: 90%;
    height: 80%;
    overflow: hidden;
}
.pokecard .pokemon-img{
    height: 100%;
    filter: drop-shadow(5px 5px 10px Black);
}
.pokecard>.poke-info-btn{
    grid-row: 3;
    grid-column: 1/5;
    font-size: small;
    width: 80%;
    text-align: center;
}
.pokecard>.poke-info-btn:hover{
    background-color: #949494;
    color: var(--pokeball-white);
    text-shadow: 0 0 3px black;
}

/* Rodapé da pagina */

.main-page-footer{
    background-color: var(--pokeball-red);
}
.nav-list{
    flex-wrap: wrap;
}
.nav-link{
    font-size: smaller;
    color: var(--pokemon-yellow);
}
.nav-link:hover{
    color: var(--pokemon-blue);
}
.project-description{
    font-size: xx-small;
}