/* Cabeçalho da pagina */
.main-menu{
    background-color: var(--pokeball-red);
}
.logo{
    font-family: "Pokemon-logo-font", "8bit-font","Archivo Black", Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.search-box{
    background-color: var(--pokeball-white);
}
.btn-buscar{
    width: 30px;
    height: 30px;
    background-image: url(../assets/img/lupa-personalizada.png);
    background-size: contain;
}
.search-box input{
    border: none;
    font-size: small;
    outline: none;
}

/* Caixa principal - listagem de pokemons */

.poke-container{
    flex-wrap: wrap;
}

/* Estrutura dos cards de pokemon da pagina principal */

.pokecard{
    background-color: red;
    width: 200px;
    height: 270px;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: repeat(4,25%);
    justify-items: center;
    align-items: center;
}
.pokecard>.pokeball-logo{
    grid-row: 1;
    grid-column: 1;
}
.pokecard>.pokeball-logo>img{
    width: 20px; 
}
.pokecard>.pokemon-name{
    grid-row: 1;
    grid-column: 2/4;
    font-size: large;
    justify-self: flex-start;
}
.pokecard>.poke-class{
    grid-row: 1;
    grid-column: 4;
    font-size: larger; /*provisório*/
}
.pokecard>.forest-bg{
    grid-row: 2;
    grid-column: 1/5;
    background-image: url(../assets/img/floresta8bits.jpg);
    background-size: cover;
    background-position: center center;
    width: 90%;
    height: 80%;
    overflow: hidden;
}
.pokecard .pokemon-img{
    width: 100%;
}
.pokecard>.poke-info-btn{
    grid-row: 3;
    grid-column: 1/5;
    font-size: small;
    width: 80%;
    text-align: center;
}