/* Menu principal */
.main-menu{
    background-color: var(--pokeball-red);
}
.logo{
    width: 150px;
}
.nav-list{
    gap: 20px;
}
.nav-link{
    color: var(--pokemon-yellow);
    text-shadow: 0 0 5px var(--pokemon-blue-dark);
}
.nav-link:hover{
    color: var(--pokemon-blue);
    text-shadow: 0 0 5px var(--pokemon-yellow);
}